// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.text {
  color: #7e7e7e;
  @include adaptiveValue("font-size", 18, 16);
  line-height: 111.1%; /* 20/18 */
}

.title {
  color: #1e1e1e;
  font-family: "Futura PT";
  @include adaptiveValue("font-size", 50, 32);
  font-weight: 500;
  line-height: 100%; /* 80% */
  text-transform: uppercase;

  text-align: center;

  &_left {
    text-align: start;
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveValue("gap", 10, 8);
  .swiper-pagination-bullet {
    cursor: pointer;
    @include adaptiveValue("width", 24, 18);
    @include adaptiveValue("height", 24, 18);
    background-color: #fff;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #1e1e1e;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #1e1e1e;
  }

  &_blue {
    .swiper-pagination-bullet {
      background-color: #fff;
      @media (any-hover: hover) {
        &:hover {
          background-color: #271c6c;
        }
      }
    }
    .swiper-pagination-bullet-active {
      background-color: #271c6c;
    }
  }
}

//========================================================================================================================================================

.submit {
  @media (max-width: $mobile) {
    @include adaptiveValue("padding-top", 80, 35);
  }

  &__body {
    display: flex;
    @include adaptiveValue("gap", 67, 10, 0, 1210, 991);

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }

  &__image-ibg--contain {
    flex: 0 0 percent(558, 1180);
    @media (max-width: $mobile) {
      padding-bottom: percent(230, 345);
    }

    img {
      object-position: bottom;
    }
  }

  &__content {
    @media (min-width: $mobile) {
      @include adaptiveValue("padding-top", 60, 30, 0, 1210, 991);
      @include adaptiveValue("padding-bottom", 90, 40, 0, 1210, 991);
    }
  }

  &__title {
    @include adaptiveValue("font-size", 50, 32, 0, 1210, 991);
    @include adaptiveValue("margin-bottom", 16, 10, 0, 1210, 991);
  }

  &__text {
    max-width: toRem(430);
    color: #7e7e7e;
    @include adaptiveValue("margin-bottom", 32, 20, 0, 1210, 991);
  }

  &__form {
    @media (min-width: $mobile) {
      max-width: toRem(425);
    }
  }
}

.form-submit {
  &__input {
    margin-bottom: toRem(12);
  }

  &__button {
    margin-top: toRem(16);
    @include adaptiveValue("height", 64, 48);
    width: 100%;
  }
}

//========================================================================================================================================================

.social {
  display: flex;
  @include adaptiveValue("column-gap", 24, 15);
  &__link {
    @include adaptiveValue("font-size", 28, 24);
    color: rgba(180, 14, 93, 0.4);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #b40e5d;
      }
    }
  }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
