//====================================================================================================

.hero {
  position: relative;
  background-color: #f3f1ff;

  @media (max-width: $tablet) {
    padding-bottom: toRem(35);
  }

  &__body {
  }

  &__slider {
    position: relative;
  }

  &__wrapper {
  }

  &__slide {
    min-width: 100vw;
    padding-top: calc(var(--header-height) + toRem(50));

    @include adaptiveValue("padding-bottom", 150, 100, 1, 991, 375);
    @media (min-width: $tablet) {
      padding-bottom: toRem(195);
    }
    @media (max-width: $tablet) {
      min-height: 100svh;
      padding-top: calc(var(--header-height) + toRem(20));
    }

    pointer-events: none;
    &.swiper-slide-active {
      pointer-events: all;
    }
  }

  &__slide-wrapper {
    height: 100%;
    max-width: toRem($containerWidth);
    margin: 0 auto;
    padding: 0 toRem(15);
  }

  &__slide-body {
    height: 100%;
    @media (min-width: $tablet) {
      padding-right: percent(450, 1180);
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  &__rate {
    @include adaptiveValue("margin-bottom", 40, 25);
  }

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 50, 26);
    font-weight: 500;
    line-height: 100%; /* 100% */
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 23, 15);
  }

  &__text {
    @include adaptiveValue("margin-bottom", 30, 20);
    color: #eae5e5;
  }

  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__button {
    min-width: toRem(239);

    @media (max-width: $mobile) {
      width: 100%;
      margin-top: auto;
    }
  }

  &__pagination {
    position: absolute;
    width: 100%;
    @include adaptiveValue("bottom", 47, 15, 0, 991, 375);
    left: toRem(0);
  }

  &__calculate {
    @media (min-width: $tablet) {
      position: absolute;
      width: 100%;
      top: calc(var(--header-height) + toRem(50));
      right: toRem(15);
    }

    @media (min-width: $pc) {
      right: calc(((100vw - 1180px) / 2) - 15px);
    }

    @media (max-width: $pc) and (min-width: $tablet) {
      width: percent(435, 1180);
    }

    @media (max-width: $tablet) {
      margin: toRem(30) auto 0;
    }
    @media (max-width: $mobile) {
      margin-right: toRem(15);
      margin-left: toRem(15);
    }
  }
}

.rate {
  padding: toRem(17) toRem(20);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.27);
  width: max-content;

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 500;
    line-height: 86.4%; /* 19/22 */
    @include adaptiveValue("margin-bottom", 16, 12);
  }

  &__list {
    display: grid;
    @include adaptiveValue("gap", 10, 8);
  }

  &__item {
    color: #bfbfbf;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 111.1%; /* 20/18 */
  }
}

.calculate {
  border-radius: toRem(15);
  background: #fff;

  @media (min-width: $mobile) {
    max-width: toRem(435);
  }

  @include adaptiveValue("padding-top", 28, 20);
  @include adaptiveValue("padding-bottom", 28, 20);
  @include adaptiveValue("padding-left", 25, 15, 0, 1210, 991);
  @include adaptiveValue("padding-right", 25, 15, 0, 1210, 991);
  &__title {
    color: #1e1e1e;
    text-align: center;
    @include adaptiveValue("font-size", 35, 28);
    font-weight: 500;
    line-height: 114.3%; /* 40/35 */
    text-transform: uppercase;

    @include adaptiveValue("margin-bottom", 23, 18);
  }

  &__form {
    display: grid;
    gap: toRem(10);
  }

  &__line {
  }

  &__input {
    border-radius: toRem(40);
    background: #e8e8e8;
    border: toRem(1) solid #e8e8e8;
    color: #7e7e7e;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    @include adaptiveValue("height", 62, 48);
    width: 100%;
    padding: 0 toRem(27);

    &:focus {
      border-color: #1e1e1e;
      outline: none;
    }
  }

  &__range {
  }

  &__bottom {
    margin-top: toRem(4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: toRem(10);
  }

  &__bottom-item {
  }

  &__bottom-title {
    color: #7e7e7e;
    @include adaptiveValue("font-size", 17, 15);
    line-height: 117.6%; /* 20/17 */
    margin-bottom: toRem(2);
  }

  &__bottom-number {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 500;
    line-height: 111.1%; /* 20/18 */
  }

  &__button {
    margin-top: toRem(8);
  }
}

//====================================================================================================
.calculate {
  &__line {
  }

  &__range {
  }

  &__input {
  }
}
.range {
  [data-range-line] {
    width: calc(100% - toRem(40));
    margin: 0 toRem(20);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(10);

    margin: toRem(13) toRem(15) 0;
  }

  &__content-item {
    color: #7e7e7e;
    font-size: 17px;
    line-height: 117.6%; /* 20/17 */
  }
}

//========================================================================================================================================================

.products {
  background-color: #f3f1ff;
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 40, 20);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__slider {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100%;
      display: block;
      z-index: 2;

      background-color: #f3f1ff;
    }

    &::after {
      right: calc(100% + toRem(20));
    }
    &::before {
      left: calc(100% + toRem(20));
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__pagination {
    @include adaptiveValue("margin-top", 45, 25);
  }

  &__slider-big {
    @include adaptiveValue("margin-top", 80, 35);
  }

  &__slide-big {
  }
}

.slide-product {
  cursor: pointer;
  border-radius: toRem(15);
  background: #fff;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 1px 17px 0px rgba(39, 28, 108, 0.55);
    }
  }

  &.swiper-slide-thumb-active {
    box-shadow: 0px 1px 17px 0px rgba(39, 28, 108, 0.55);
  }

  &__image-ibg {
    padding-bottom: percent(219, 280);
  }

  &__content {
    padding: toRem(20) toRem(10) toRem(27);
  }

  &__title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 30, 22);
    font-weight: 500;
    line-height: 100%; /* 66.667% */

    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  &__price {
    color: #7e7e7e;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 111.1%; /* 20/18 */
  }
}

.product-cart {
  &__wrapper {
    display: flex;
    border-radius: 15px;
    background: #fff;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__image-ibg {
    flex: 0 0 percent(380, 1180);
    padding-bottom: percent(488, 1180);
    border-radius: toRem(15);
    overflow: hidden;

    @media (max-width: $mobile) {
      padding-bottom: percent(230, 345);
    }
  }

  &__body {
    @include adaptiveValue("padding", 35, 15, 0, 1210, 991);
  }

  &__title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 24, 20);
    font-weight: 500;
    line-height: 100%; /* 83.333% */

    @include adaptiveValue("margin-bottom", 20, 15);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(230), auto));

    column-gap: toRem(15);
    @include adaptiveValue("row-gap", 20, 10);

    @include adaptiveValue("margin-bottom", 37, 25);
  }

  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 15, 10);
  }

  &__item-ico {
    @include adaptiveValue("width", 50, 45);
    @include adaptiveValue("height", 50, 45);
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b40e5d;
    padding: toRem(5);
    img {
      max-width: 100%;
    }
  }

  &__item-content {
  }

  &__item-title {
    color: #7e7e7e;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 111.1%; /* 20/18 */
    margin-bottom: toRem(2);
  }

  &__item-text {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 19, 17);
    font-weight: 500;
    line-height: 105.3%; /* 20/19 */
  }

  &__text {
    color: #7e7e7e;
  }
}

//========================================================================================================================================================

.advantages {
  background-color: #f3f1ff;
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 40, 20);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }
  &__container {
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 15);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  }

  &__item {
  }
}

.item-advantages {
  border-radius: toRem(15);
  background: #fff;
  display: grid;
  @include adaptiveValue("gap", 15, 10);
  @include adaptiveValue("padding", 20, 15);
  &__ico {
    @include adaptiveValue("width", 67, 50);
    @include adaptiveValue("height", 67, 50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b40e5d;
    @include adaptiveValue("padding", 15, 12);
    img {
      max-width: 100%;
    }
  }

  &__title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 24, 22);
    font-weight: 500;
    line-height: 100%; /* 83.333% */
  }

  &__text {
  }
}
