//====================================================================================================

.hero {
  position: relative;
  background-color: #f3f1ff;

  @media (max-width: $tablet) {
    padding-bottom: toRem(35);
  }

  &__body {
  }

  &__slider {
    position: relative;
  }

  &__wrapper {
  }

  &__slide {
    min-width: 100vw;
    // padding-top: calc(var(--header-height) + toRem(50));
    padding-top: toRem(30);

    @include adaptiveValue("padding-bottom", 150, 100, 1, 991, 375);
    @media (min-width: $tablet) {
      padding-bottom: toRem(195);
    }
    @media (max-width: $tablet) {
      min-height: 100svh;
      // padding-top: calc(var(--header-height) + toRem(20));
      padding-top: toRem(27);
    }

    pointer-events: none;
    &.swiper-slide-active {
      pointer-events: all;
      opacity: 1 !important;
    }
  }

  &__slide-wrapper {
    height: 100%;
    max-width: toRem($containerWidth);
    margin: 0 auto;
    padding: 0 toRem(15);
  }

  &__slide-body {
    height: 100%;
    @media (min-width: $tablet) {
      padding-right: percent(450, 1180);
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  &__rate {
    @include adaptiveValue("margin-bottom", 40, 14);
  }

  &__title {
    color: #fff;
    @include adaptiveValue("margin-bottom", 23, 40);
    @include adaptiveValue("font-size", 60, 40);
    font-weight: 700;
    line-height: 130%; /* 100% */
    text-transform: uppercase;

    span {
      color: #b40e5d;
    }

    b {
      @include adaptiveValue("font-size", 120, 75);
    }
  }

  &__text {
    @include adaptiveValue("margin-bottom", 30, 20);
    color: #eae5e5;
  }

  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__button {
    min-width: toRem(239);

    @media (max-width: $mobile) {
      // width: 100%;
      // margin-top: auto;
      width: fit-content;
    }
  }

  &__pagination {
    position: absolute;
    width: 100%;
    @include adaptiveValue("bottom", 47, 15, 0, 991, 375);
    left: toRem(0);
  }

  &__calculate {
    background-color: #271c6c !important;
    @media (min-width: $tablet) {
      position: absolute;
      width: 100%;
      // top: calc(var(--header-height) + toRem(50));
      top: toRem(30);
      right: toRem(15);
    }

    .noUi-target {
      background: rgba(180, 14, 93, 0.4);
    }
    .select__body {
      color: #271c6c;
    }

    input {
      color: #271c6c;

      &::placeholder {
        color: #271c6c;
      }
    }
    .calculate__title {
      color: #fff;
    }
    .range__content-item {
      color: #cecece;
    }
    .calculate__bottom-title {
      color: #cecece;
    }
    .calculate__bottom-number {
      color: #fff;
    }

    .calculate__button {
      background-color: #b40e5d;
    }

    @media (min-width: $pc) {
      right: calc(((100vw - 1180px) / 2) - 15px);
    }

    @media (max-width: $pc) and (min-width: $tablet) {
      width: percent(435, 1180);
    }

    @media (max-width: $tablet) {
      margin: toRem(30) auto 0;
    }
    @media (max-width: $mobile) {
      margin-right: toRem(15);
      margin-left: toRem(15);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("column-gap", 40, 30);
    row-gap: toRem(20);
    max-width: toRem(430);
    @include adaptiveValue("margin-bottom", 35, 30);

    @media (max-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(10);
  }

  &__item-ico {
    background-color: #b40e5d;
    border-radius: 50%;
    @include adaptiveValue("width", 80, 55);
    @include adaptiveValue("height", 80, 55);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(13);

    img {
      max-width: 100%;
    }
  }

  &__item-text {
    color: #eae5e5;
    @include adaptiveValue("font-size", 19, 16);
    line-height: 105.3%; /* 20/19 */
    text-align: center;
  }
}

.rate {
  padding: toRem(17) toRem(20);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.27);
  width: max-content;

  &__title {
    color: #fff;
    font-size: toRem(22);
    font-weight: 500;
    line-height: 86.4%; /* 19/22 */
    @include adaptiveValue("margin-bottom", 16, 12);
  }

  &__list {
    display: grid;
    gap: toRem(10);
  }

  &__item {
    color: #bfbfbf;
    font-size: toRem(18);
    line-height: 111.1%; /* 20/18 */
  }
}

//========================================================================================================================================================

.products {
  background-color: #f3f1ff;
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 40, 20);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__slider {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100%;
      display: block;
      z-index: 2;

      background-color: #f3f1ff;
    }

    &::after {
      right: calc(100% + toRem(20));
    }
    &::before {
      left: calc(100% + toRem(20));
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__pagination {
  }

  &__slider-big {
    @include adaptiveValue("margin-top", 80, 35);
  }

  &__slide-big {
  }

  &__navigation {
    @include adaptiveValue("margin-top", 30, 25);
  }
}

.slide-product {
  cursor: pointer;
  border-radius: toRem(15);
  background: #fff;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 1px 17px 0px rgba(39, 28, 108, 0.55);
    }
  }

  &.swiper-slide-thumb-active {
    box-shadow: 0px 1px 17px 0px rgba(39, 28, 108, 0.55);
  }

  &__image-ibg {
    padding-bottom: percent(219, 280);
  }

  &__content {
    padding: toRem(20) toRem(10) toRem(27);
  }

  &__title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 30, 22);
    font-weight: 500;
    line-height: 100%; /* 66.667% */

    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  &__price {
    color: #7e7e7e;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 111.1%; /* 20/18 */
  }
}

.product-cart {
  &__wrapper {
    display: flex;
    border-radius: 15px;
    background: #fff;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__image-ibg {
    flex: 0 0 percent(380, 1180);
    padding-bottom: percent(488, 1180);
    border-radius: toRem(15);
    overflow: hidden;

    @media (max-width: $mobile) {
      padding-bottom: percent(230, 345);
    }
  }

  &__body {
    @include adaptiveValue("padding", 35, 15, 0, 1210, 991);
  }

  &__title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 24, 20);
    font-weight: 500;
    line-height: 100%; /* 83.333% */

    @include adaptiveValue("margin-bottom", 20, 15);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(230), auto));

    column-gap: toRem(15);
    @include adaptiveValue("row-gap", 20, 10);

    @include adaptiveValue("margin-bottom", 37, 25);
  }

  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 15, 10);
  }

  &__item-ico {
    @include adaptiveValue("width", 50, 45);
    @include adaptiveValue("height", 50, 45);
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b40e5d;
    padding: toRem(5);
    img {
      max-width: 100%;
    }
  }

  &__item-content {
  }

  &__item-title {
    color: #7e7e7e;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 111.1%; /* 20/18 */
    margin-bottom: toRem(2);
  }

  &__item-text {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 19, 17);
    font-weight: 500;
    line-height: 105.3%; /* 20/19 */
  }

  &__text {
    color: #7e7e7e;
  }
}

//========================================================================================================================================================

.advantages {
  background-color: #f3f1ff;
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 40, 20);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }
  &__container {
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 15);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  }

  &__item {
  }
}

.item-advantages {
  border-radius: toRem(15);
  background: #fff;
  display: grid;
  @include adaptiveValue("gap", 15, 10);
  @include adaptiveValue("padding", 20, 15);
  &__ico {
    @include adaptiveValue("width", 67, 50);
    @include adaptiveValue("height", 67, 50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b40e5d;
    @include adaptiveValue("padding", 15, 12);
    img {
      max-width: 100%;
    }
  }

  &__title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 24, 22);
    font-weight: 500;
    line-height: 100%; /* 83.333% */
  }

  &__text {
  }
}

//========================================================================================================================================================

.steps {
  @include adaptiveValue("padding-top", 80, 35);
  @include adaptiveValue("padding-bottom", 40, 20);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__items {
    position: relative;
    display: grid;
    @include adaptiveValue("gap", 200, 70, 0, 1210, 767);
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(30) toRem(20);
    }

    @media (min-width: $mobile) {
      @include adaptiveValue("padding-top", 90, 65, 0, 1210, 767);
      &::before {
        content: "";
        background-image: url("@img/steps/01.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include adaptiveValue("height", 90, 65, 0, 1210, 767);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 10, 7);
    max-width: toRem(168);

    @media (min-width: $mobile) {
      &:nth-child(odd) {
        padding-top: toRem(18);
      }
    }
  }

  &__item-title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 24, 22);
    font-weight: 500;
    line-height: 133.3%; /* 32/24 */
  }

  &__item-text {
  }
}

//========================================================================================================================================================

.reviews {
  background-color: #f3f1ff;
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 150, 50);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__slider {
    @media (min-width: $pc) {
      overflow: hidden;
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__pagination {
    @include adaptiveValue("margin-top", 50, 30);
  }
}

.card-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background: #fff;

  padding: toRem(20) toRem(20) toRem(25);

  @media (max-width: $mobile) {
    padding: toRem(15) toRem(15) toRem(20);
  }

  &__image-ibg {
    overflow: hidden;
    @include adaptiveValue("width", 185, 150);
    @include adaptiveValue("height", 185, 150);
    border-radius: 50%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 20);
    }
  }

  &__title {
    color: #1e1e1e;
    @include adaptiveValue("font-size", 24, 22);
    line-height: 100%; /* 83.333% */
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  &__text {
  }
}
